@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label,
input {
  width: 200px;
  height: 25px;
  margin: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border: none;
  background-color: #007dff;
  color: #fff;
  cursor: pointer;
}
